
@{
    ViewBag.Title = "AllOrders";
}

<h2>Все заказы</h2>
@model IList<CargoTaxi.Models.OrderViewModel>
@{ ViewBag.Title = "All Orders";}


<h2>Все заказы</h2>

<table class="table table-striped">
    <tr>
        @*<th>Ин</th>*@
        <th>Дата</th>
        <th>Номер</th>
        <th>Адрес отправки</th>
        <th>Адрес назначения</th>
        <th>Время(начало)</th>
        <th>Время(конец)</th>
        <th>Выполнен?</th>
        <th>Категория машины</th>
        <th>Машина</th>
        <th>Клиент</th>
       
    </tr>
    @foreach (var order in Model)
    {
<tr>
    <td>@order.Id</td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Number</a></td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Date</a></td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Number</a></td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Number</a></td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Number</a></td>
    <td><a href="/Order/OrderDetails/@order.Id">@order.Number</a></td>
    <td><a href="/Category/CategoryDetails/@car.Category.Id">@car.Category.Name</a></td>
    <td><a href="/Driver/DriverDetails/@car.DriverId">@car.Driver.FirstName  @car.Driver.LastName</a></td>
    <td>
        <ul>
            @foreach (var order in car.Orders)
            {
                <li><a href="/Order/OrderDetails/@order.Id">@order.Number</a></li>
            }
        </ul>
    </td>
    <td>
        <a class="btn btn-success" href="/Car/EditCar/@car.Id">Изменить</a>
        <a class="btn btn-danger" href="/Car/Delete/@car.Id">Удалить</a>
        @*@Html.ActionLink("Remove", "Delete", new {id = book.Id})*@
    </td>
</tr>}
</table>
<br>
<a class="btn btn-primary" href="/Car/CreateCar" role="button">Добавить машину</a>



