@model List<CargoTaxi.Models.DriverOrderViewModel>

<link href="~/Content/Driver/DriverCss.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "CheckOrder";
}

<h2>Отметить заказ как выполненный</h2>

@using (Html.BeginForm("CheckOrder", "Driver", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Заказы на @DateTime.Now.ToShortDateString()</h4>

        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Номер")
                </th>
                <th>
                    @Html.DisplayName("Дата")
                </th>
                <th>
                    @Html.DisplayName("Адрес отправки")
                </th>
                <th>
                    @Html.DisplayName("Адрес доставки")
                </th>
                <th>
                    @Html.DisplayName("Начальное время")
                </th>
                <th>
                    @Html.DisplayName("Конечное время")
                </th>
                <th>
                    @Html.DisplayName("Машина")
                </th>
                <th>
                    @Html.DisplayName("Категория")
                </th>
                <th>
                    @Html.DisplayName("Статус заказа")
                </th>
                <th>
                    @Html.DisplayName("Телефон клиента")
                </th>
                <th></th>
            </tr>
            
            @for(int i=0; i<Model.Count;i++ )
            {
                @Html.HiddenFor(m=>m[i].Id)
        <tr>
            <td>
                @Html.EditorFor(m => m[i].Number, new { htmlAttributes = new { @disabled = "true"} })
            </td>
            <td>
                @Html.EditorFor(m => m[i].Date)
            </td>
            <td>
                @Html.EditorFor(m => m[i].StartAdress)
            </td>
            <td>
                @Html.EditorFor(m => m[i].FinishAdress)
            </td>
            <td>
                @Html.EditorFor(m => m[i].StartTime)
            </td>
            <td>
                @Html.EditorFor(m => m[i].FinishTime)
            </td>
            <td>
                @Html.EditorFor(m => m[i].Car)
            </td>
            <td>
                @Html.EditorFor(m => m[i].CarCategory)
            </td>
            <td>
                @Html.EditorFor(m => m[i].IsDone)
            </td>
            <td>
                @Html.EditorFor(m => m[i].ClientPhone)
            </td>            
        </tr>
            }
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


