@model IEnumerable<CargoTaxi.Models.DriverOrderViewModel>

<link href="~/Content/Driver/DriverCss.css" rel="stylesheet" type="text/css" />
<div>
    <h3>Ближайшие заказы</h3>
    @*<hr />*@
    <table class="table">
        <tr>
            <th class="number">
                @Html.DisplayName("Номер")
            </th>
            <th class="date">
                @Html.DisplayName("Дата")
            </th>
            <th class="adr">
                @Html.DisplayName("Адрес отправки")
            </th>
            <th class="adr">
                @Html.DisplayName("Адрес доставки")
            </th>
            <th class="startTime">
                @Html.DisplayName("Начальное время")
            </th>
            <th class="startTime">
                @Html.DisplayName("Конечное время")
            </th>
            <th class="car">
                @Html.DisplayName("Машина")
            </th>
            <th class="category">
                @Html.DisplayName("Категория")
            </th>
            <th class="isDone">
                @Html.DisplayName("Статус заказа")
            </th>
            <th class="phone">
                @Html.DisplayName("Телефон клиента")
            </th>            
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="number">
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td class="date">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="adr">
                    @Html.DisplayFor(modelItem => item.StartAdress)
                </td>
                <td class="adr">
                    @Html.DisplayFor(modelItem => item.FinishAdress)
                </td>
                <td class="startTime">
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td class="startTime">
                    @Html.DisplayFor(modelItem => item.FinishTime)
                </td>
                <td class="car">
                    @Html.DisplayFor(modelItem => item.Car)
                </td>
                <td class="category">
                    @Html.DisplayFor(modelItem => item.CarCategory)
                </td>
                <td class="isDone">
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td class="phone">
                    @Html.DisplayFor(modelItem => item.ClientPhone)
                </td>
            </tr>
        }

    </table>
</div>
<p></p>
