@section scripts{
    <script src="@Url.Content("~/Scripts/SPA/Index.js")"></script>
}
<link href="~/Content/Client/ClientCss.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index";
}

<h2>Функционал Администратора</h2>

<button type="button" id="createCar" class="btn btn-info" onclick="location.href='@Url.Action("CreateCar", "Car")'">Новая машина</button>
<button type="button" id="allCars" class="btn btn-info" onclick="location.href='@Url.Action("AllCars", "Car")'">Все машины</button>
<button type="button" id="assignCar" class="btn btn-info" onclick="location.href='@Url.Action("AllNotAsignOrders", "Admin")'">Назначить машину</button>
<button type="button" id="editOrder" class="btn btn-info" onclick="location.href='@Url.Action("NotDoneOrders", "Order")'">Изменить заказ</button>
<button type="button" id="allClients" class="btn btn-info" onclick="location.href='@Url.Action("AllClients", "Admin")'">Все клиенты</button>
@Html.ActionLink("Зарегистрировать водителя", "FindView", new { findParam = 1 }, new { @class = "btn btn-info" })
<button type="button" id="allDrivers" class="btn btn-info" onclick="location.href='@Url.Action("GetAllDrivers", "Admin")'">Все водители</button>


<hr />
<div>
    <h4>Навигация по заказам</h4>
    <ul>
        <li><a href="Order/Orders">Все заказы</a></li>
        <li>@Html.ActionLink("Поиск по номеру телефона клиента", "FindView", new { findParam = 2 })</li>
        <li>@Html.ActionLink("Поиск по номеру машины", "FindView", new { findParam = 3 })</li>
        <li><a href="Driver/GetMyOrders">Поиск по дате</a></li>
        @*<li><a href="Order/Test">Test</a></li>*@
        <li><a href="Order/TodayOrders">Заказы на сегодня</a></li>
        <li><a href="Order/NotAsignOrders">Необработанные заказы</a></li>
        <li><a href="Order/NotDoneOrders">Невыполненные заказы</a></li>
    </ul>
</div>

